<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <p class="title">Phaser GUI</p>
      <p class="subtitle">
        TODO
      </p>
      <div class="tile">
        <div class="tile is-9">
          <div class="container">
            TODO
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="buttons has-addons is-centered">
        <button class="button is-primary">Button</button>
        <button class="button">Modal</button>
      </div>
      <hr>
      <div class="is-flex is-justify-content-center" [formGroup]="form">
        <div class="field">
          <label class="label">X</label>
          <div class="control">
            <input class="input" type="number" formControlName="x">
          </div>
        </div>
        <div class="field">
          <label class="label">Y</label>
          <div class="control">
            <input class="input" type="number" formControlName="y">
          </div>
      </div>
      </div>
      <div id="phaser"></div>
    </div>
  </div>
</section>


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Ngx focus control</strong> by <a href="https://gulan.eu">Filip Raiper34 Gulan</a>. The source code is
      licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
